################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/C-SharP-/FileContentIndex/cfb8eb87-5776-4283-acb4-d09bcce344a1.vsidx
/.vs/C-SharP-/FileContentIndex/8c32c039-7ad8-4d4c-97cc-e2b0ddae64c3.vsidx
/.vs/C-SharP-/FileContentIndex/bfc1a2e9-f1a7-4c30-ab0a-b12b9acfb10e.vsidx
/.vs/C-SharP-/FileContentIndex/78f9c9e0-2476-48ec-adc0-52ddf7728212.vsidx
/.vs/C-SharP-/FileContentIndex/d36cdb13-3ed4-47b1-b126-dd9daa440b13.vsidx
/.vs/C-SharP-/FileContentIndex/60a4be4f-fa55-4904-89a1-1e966af20c7d.vsidx
/.vs/C-SharP-/FileContentIndex/e9e2547a-efb9-43ff-a035-5870c1fa5732.vsidx
*.vsidx
